       h4{
        color: aliceblue;
        background-color: black;
        border: 10px solid red;
        border-radius: 25px;

       }


/* external css */
      
      /* 
      >> UNIVERSAL SELECTOR (*)
      >> ID SELECTOR (#)
      >>CLASS SELECTOR (.)
      >> ELEMENT SELECTOR
      >>SELECTOR LIST 
      >> DESCENDANT SELECTOR
      >> DIRECT CHILD SELECTOR
       */



