/* .box {
  background-color: red;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ball {
  background-color: yellow;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
}

.ball:hover {
  animation: moveTheBall 5s ease-in-out forwards;
}

@keyframes moveTheBall {
  25% {
    transform: translate(400%, 0);
  }
  50% {
    transform: translate(400%, 400%);
    background-color: grey;
  }
  75% {
    transform: translate(0, 400%);
    border-radius: 25%;
  }
  100% {
    transform: translate(400%, 0);
    background-color: green;
  }
} */
.text {
  font-size: 32px;
}

@media (max-width: 1024px) {
  .text {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 18px;
  }
}
