* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.hero_section {
  background: url(./day-19-images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 40px;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}
.nav_menu_container {
    display: flex;
    gap: 18px;
}
.user-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
}

@media (max-width:650px){
    nav_menu_container {
        display: flex;
    }
    .link {
        display: none;
    }
}
